.carddiv{
    margin-left: 35vw;
    margin-top: 20vh;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.spacer{
    width: 20px;
    height: 15px;
    
}
.heading{
    font-weight: bold;
}
.card{
    background-color: rgb(198, 198, 198);
    height: 400px;
    padding: 20px;
}