body{
    background-color: rgb(36, 34, 34);
}
.form{
    margin:10%;
    border: none;
    background-color:#fafafa;
    padding: 5vw;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgb(33, 32, 32), 0 6px 20px 0 rgb(103, 103, 103);
}


.title{
    position:relative;
    margin-bottom: 20px;
    padding-left: 20vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    
    display: flexbox;
    
    
}
#regbtn{
    position: absolute;
    
}
.error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding:1px 20px 1px 20px;
  }